name: CI
on:
  push:
    branches: [ main ]

env:
  DOCKER_REGISTRY: registry.ropenttd.com
  IMAGE_NAME: servers-data-aggregation

jobs:
  build:
    name: Build and Push Image
    runs-on: ubuntu-latest
    steps:
    - name: Check out code
      uses: actions/checkout@v2

    - name: Set short commit hash
      run: echo "IMAGE_TAG=$(echo ${{ github.sha }} | cut -c1-7)" >> $GITHUB_ENV

    - name: Set up QEMU
      uses: docker/setup-qemu-action@v2

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2

    - name: Login to Docker Registry
      run: |
        echo "${{ secrets.DOCKER_PASSWORD }}" | docker login ${{ env.DOCKER_REGISTRY }} -u "docker" --password-stdin

    - name: Build and push multi-platform image
      run: |
        docker buildx build \
          --platform linux/amd64,linux/arm64 \
          --tag ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:${{ env.IMAGE_TAG }} \
          --tag ${{ env.DOCKER_REGISTRY }}/${{ env.IMAGE_NAME }}:latest \
          --push \
          .